@font-face {
  font-family: "iconfont"; /* Project id 4628930 */
  src: url('iconfont.woff2?t=1762412734689') format('woff2'),
       url('iconfont.woff?t=1762412734689') format('woff'),
       url('iconfont.ttf?t=1762412734689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuxi:before {
  content: "\e686";
}

.icon-chengyuan:before {
  content: "\e687";
}

.icon-copy:before {
  content: "\e684";
}

.icon-fh:before {
  content: "\e683";
}

.icon-logo:before {
  content: "\e682";
}

.icon-sousuo:before {
  content: "\e67d";
}

.icon-address:before {
  content: "\e67b";
}

.icon-netioy:before {
  content: "\e67c";
}

