
/* ================================= 《 全 局 初 始 化 》 */

html, body {
  width: 100%;
  height: 100%;
}

html, body, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

/* ================================= 《 公 共 样 式 》 */

/* 容器 - 开启 relative 定位 */
.container-relative {
  position: relative;
}

/* 容器 - 最小内容宽度 */
.container {
  width: 1200px;
  height: 100%;
}
.container-width {
  width: 1200px;
}

/* 容器 - 百分比宽高 */
.container-full {
  width: 100%;
  height: 100%;
}
.container-full-width {
  width: 100%;
}

/* 容器 - 窗口宽高 */
.container-full-vwh {
  width: 100vw;
  height: 100vh;
}
.container-full-vw {
  width: 100vw;
}
.container-full-vh {
  height: 100vh;
}

/* 容器 - 百分比宽高 - flex 居中 */
.container-full-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-full-column-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-full-width-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-full-width-column-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 容器 - 窗口宽高 - flex 居中 */
.container-full-vwh-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-full-vwh-column-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-full-vw-center {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.container-full-vw-column-center {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 容器 - 最小内容宽度 - flex 居中 */
.container-center {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-column-center {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-width-center {
  width: 1200px;
  display: flex;
  justify-content: center;
}
.container-width-column-center {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}